
        <mdb-card class="col-md-10 mt-3">
          <div class="view rgba-white-slight waves-light" mdbWavesEffect>
            <!-- Card img -->
            <mdb-card-img src="https://mdbootstrap.com/img/Mockups/Lightbox/Thumbnail/img%20(67).jpg"
              alt="Card image cap"></mdb-card-img>
            <a>
              <div class="mask"></div>
            </a>
          </div>
          <!--Card content-->
          <mdb-card-body>
            <!--Title-->
            <mdb-card-title>
              <h6>Boku no hero Academia</h6>
            </mdb-card-title>
  
            <!--Text-->
            <mdb-card-text> Some quick example text to build on the card title and make up the bulk of the card's
              content.
            </mdb-card-text>
  
            <a href="#" mdbBtn color="dark" mdbWavesEffect>Details</a>
          </mdb-card-body>
        </mdb-card>

  <!-- Card -->