<mdb-card class="color tamanho">
    <!--Card content-->
    <mdb-card-body>
        <!--Title-->
        <mdb-card-title class="center">
            <h5>{{planet.name}}</h5>
        </mdb-card-title>

        <!--Text-->
        <mdb-card-text>
            <h6>Gravity: {{planet.gravity}}</h6>
        </mdb-card-text>
        <mdb-card-text>
            <h6>Popuation: {{planet.population}}</h6>
        </mdb-card-text>
        <mdb-card-text>
            <h6>Climate: {{planet.climate}}</h6>
        </mdb-card-text>
    </mdb-card-body>
</mdb-card>