<mdb-card class="color tamanho">
    <!--Card content-->
    <mdb-card-body>
        <!--Title-->
        <mdb-card-title class="center">
            <h5>{{chart.name}}</h5>
        </mdb-card-title>
        <!--Text-->
        <mdb-card-text>
            <h6>Birth Year: {{chart.birth_year}}</h6>
        </mdb-card-text>
        <mdb-card-text>
            <h6>Gender: {{chart.gender}}</h6>
        </mdb-card-text>
        <mdb-card-text>
            <h6>Eye Color: {{chart.eye_color}}</h6>
        </mdb-card-text>
    </mdb-card-body>
</mdb-card>