<mdb-card class="color tamanho">
    <!--Card content-->
    <mdb-card-body>
        <!--Title-->
        <mdb-card-title class="center">
            <h5>{{specie.name}}</h5>
        </mdb-card-title>

        <!--Text-->
        <mdb-card-text>
            <h6>Classification: {{specie.classification}}</h6>
        </mdb-card-text>
        <mdb-card-text>
            <h6>Language: {{specie.language}}</h6>
        </mdb-card-text>
        <mdb-card-text>
            <h6>Designation: {{specie.designation}}</h6>
        </mdb-card-text>
    </mdb-card-body>
</mdb-card>