<mdb-card class="color tamanho">
    <!--Card content-->
    <mdb-card-body>
        <!--Title-->
        <mdb-card-title class="center">
            <h5>{{vehicle.name}}</h5>
        </mdb-card-title>

        <!--Text-->
        <mdb-card-text>
            <h6>Model: {{vehicle.model}}</h6>
        </mdb-card-text>
        <mdb-card-text>
            <h6>Vehicle Class: {{vehicle.vehicle_class}}</h6>
        </mdb-card-text>
        <mdb-card-text>
            <h6>Max Atmosphering Speed: {{vehicle.max_atmosphering_speed}}</h6>
        </mdb-card-text>
    </mdb-card-body>
</mdb-card>