<div class="container">
    <div class="row">
        <div class="col-12 ">
            <mdb-card class="col-md-12 mt-3 h-100">
                <div class="view rgba-white-slight waves-light" mdbWavesEffect>
                    <mdb-card-img src="../../assets/img/wallp.jpg" alt="Card image cap"></mdb-card-img>
                    <a>
                        <div class="mask"></div>
                    </a>
                </div>
                <!--Card content-->
                <mdb-card-body>
                    <!--Title-->
                    <mdb-card-title class="center">
                        <h4>{{film.title}}</h4>
                    </mdb-card-title>
                    <!--Text-->
                    <mdb-card-text>
                        {{film.opening_crawl}}
                    </mdb-card-text>
                    <mdb-card-text>
                        <b>Episode Id: </b>{{film.episode_id}}
                    </mdb-card-text>
                    <mdb-card-text>
                        <b>Director: </b>{{film.director}}
                    </mdb-card-text>
                    <mdb-card-text>
                        <b>Producer: </b>{{film.producer}}
                    </mdb-card-text>
                    <mdb-card-text>
                        <b>Release Date: </b>{{film.release_date}}
                    </mdb-card-text>
                </mdb-card-body>
                <div class="row">
                    <div class="col-4">
                        <h4 class="ml-7">Characters</h4>
                        <mdb-carousel class="w-100 mb-5" color="black" [animation]="'slide'">
                            <mdb-carousel-item *ngFor="let chart of characters">
                                <app-card-characters (click)="openModalChart(chart)" class="col-md-12 ml-1 mb-6 mt-3 rounded mb-0 tamanho" [chart]="chart" ></app-card-characters>
                            </mdb-carousel-item>
                        </mdb-carousel>
                    </div>
                    <div class="col-4">
                        <h4 class="pr-3 ml-7">Planets</h4>
                        <mdb-carousel class="w-100 mb-5" color="black" [animation]="'slide'">
                            <mdb-carousel-item *ngFor="let planet of planets">
                                <app-card-planets class="col-md-12 ml-1 mb-6 mt-3 rounded mb-0 tamanho" [planet]="planet" ></app-card-planets>
                            </mdb-carousel-item>
                        </mdb-carousel>
                    </div>
                    <div class="col-4">
                        <h4 class="pr-3 ml-8">Species</h4>
                        <mdb-carousel class="w-100 mb-5" color="black" [animation]="'slide'">
                            <mdb-carousel-item *ngFor="let specie of species">
                                <app-card-species class="col-md-12 ml-1 mb-6 mt-3 rounded mb-0 tamanho" [specie]="specie" ></app-card-species>
                            </mdb-carousel-item>
                        </mdb-carousel>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <h4 class="pr-3 ml-8">Vehicles</h4>
                        <mdb-carousel class="w-100 mb-5" color="black" [animation]="'slide'">
                            <mdb-carousel-item *ngFor="let vehicle of vehicles">
                                <app-card-vehicles class="col-md-12 ml-1 mb-6 mt-3 rounded mb-0" [vehicle]="vehicle"></app-card-vehicles>
                            </mdb-carousel-item>
                        </mdb-carousel>
                    </div>
                    <div class="col-6">
                        <h4 class="pr-3 ml-8">Starships</h4>
                        <mdb-carousel class="w-100 mb-5" color="black" [animation]="'slide'">
                            <mdb-carousel-item *ngFor="let starship of starships">
                                <app-card-starships class="col-md-12 ml-1 mb-6 mt-3 rounded mb-0" [starship]="starship" ></app-card-starships>
                            </mdb-carousel-item>
                        </mdb-carousel>
                    </div>
                </div>
            </mdb-card>
        </div>
    </div>
</div>


<!-- Card -->