<mdb-card class="color tamanho">
    <!--Card content-->
    <mdb-card-body>
        <!--Title-->
        <mdb-card-title class="center">
            <h5>{{starship.name}}</h5>
        </mdb-card-title>

        <!--Text-->
        <mdb-card-text>
            <h6>Model: {{starship.model}}</h6>
        </mdb-card-text>
        <mdb-card-text>
            <h6>Passengers: {{starship.passengers}}</h6>
        </mdb-card-text>
        <mdb-card-text>
            <h6>Starship Class: {{starship.starship_class}}</h6>
        </mdb-card-text>
    </mdb-card-body>
</mdb-card>