<mdb-card class="col-md-12 mt-3">
  <div class="view rgba-white-slight waves-light" mdbWavesEffect>
    <!-- Card img -->
    <mdb-card-img src="../assets/img/card.jpg" alt="Card image cap"></mdb-card-img>
    <a>
      <div class="mask"></div>
    </a>
  </div>
  <!--Card content-->
  <mdb-card-body>
    <!--Title-->
    <mdb-card-title class="center customFont">
      <h5>{{film.title}}</h5>
    </mdb-card-title>

    <!--Text-->
    <mdb-card-text>
      <i>{{film.opening_crawl}}</i>
    </mdb-card-text>

    <a (click)="details(film)" class="col-12" mdbBtn color="dark" mdbWavesEffect>Details</a>
  </mdb-card-body>
</mdb-card>

<!-- Card -->